ConvertedNNs/
out_report/
PTmodels/__pycache__/
tensorrtConversion/__pycache__/
PTmodels/*/embeddings_shape.json
tensorrtConversion/Calibration/calibration.cache
tensorrtConversion/Calibration/__pycache__/
tensorrtConversion/*.log
data/
__pycache__
exe.sh